h1,
h2,
header {
  background-color: rgb(121, 121, 171);
  border: 2px sold black;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
body {
  border: 2px solid black;
  border-radius: 4px;
  background-color: lightblue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 2px solid black;
}
p {
  border: px solid black;
  font-style: italic;
}
